<h1>Pages</h1>

<form action="/pages" method="get">
  <input name="search[q]" placeholder="Search for..." autofocus />
  <button>Search</button>
</form>

<section>
  <% @pages.each do |page| %>
    <article>
      <h1><a href="/pages/<%= page.slug %>"><%= page.title %></a></h1>
      <p><%= page.content.truncate(200) %></p>
    </article>
  <% end %>
</section>

<nav class="pagination">
  <a href="/pages?p=<%= @page_number - 1 %>">Previous</a>
  <a href="/pages?p=<%= @page_number + 1 %>">Next</a>
</nav>
